# Dependency directories
node_modules
/dist

# Version control directories
.git

# Build outputs
*.min.js
*.min.css

# Logs
logs
*.log

# Environment files
.env
.env.*

# Configuration files
vue.config.js
babel.config.js

# Test files
/tests
/__tests__
/__mocks__

# Storybook directory
/.storybook

# Coverage directory
/coverage

# Ignore specific files or folders
/src/some-folder-to-ignore
/src/some-file-to-ignore.js

/.pnpm-store/
.pnpm-lock.yaml