@tailwind base;
@tailwind components;
@tailwind utilities;

/* html,
body,
#app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
} */

textarea,
input {
  outline: 1px solid grey;
}

a {
  text-decoration: underline;
  color: #990099;
}
